/* B A C K G R O U N D */
body {
    font-family: "Press Start 2P", monospace;
    background-image: url("assets/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; 
}

#bg-video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover; 
}

/* E L E M E N T S */
#welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(100, 13, 95, 0.2);
    z-index: 2;
    text-align: center;
    color: rgba(212, 235, 248);
}

.welcome-box {
    border-radius: 3px;
    padding: 20px;
    max-width: 400px;
    font-size: 14px;
    line-height: 1.3;
}

#start-button {
    border: 2px solid rgba(59, 28, 50);
    font-size: 14px;
    font-family: "Press Start 2P", monospace;
    margin-top: 0px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(166, 77, 121);
    color: rgba(212, 235, 248);
}

#portfolio {
    display: none;
    flex-direction: column;
    max-width: 400px;
}

#information {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 20%;
    height: auto;
    margin-bottom: 20px;
    z-index: 10;
    transform: translate(-50%, -50%);
    border: 4px solid rgba(212, 235, 248, 0.5);
    border-radius: 3px;
    padding: 15px;
    background-color: rgba(28, 50, 91, 0.5);
    color: rgba(212, 235, 248);

}

#profile-pic {
    height: 150px;
    width: 150px;
    background-image: url('assets/portrait.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    padding: 10px;
    margin: auto;
    object-fit: cover;
}

#buttons {
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex; 
    justify-content: center;
    gap: 20px; 
    z-index: 10;
}

.button-designs {
    border: 2px solid rgba(212, 235, 248, 0.5);
    border-radius: 4px;
    background-color: rgba(28, 50, 91, 0.5);
    color: rgba(212, 235, 248);
    padding: 10px 20px;
    cursor: pointer;
    font-family: "Press Start 2P", monospace;
    font-size: 14px;
}

.popup-window {
    display: none;
    position: fixed;
    top: 30%;
    left: 62%;
    width: auto;
    height: auto;
    flex-direction: column;
    border: 2px solid rgba(212, 235, 248, 0.3);
    border-radius: 3px;
    padding: 15px;
    background-color: rgba(28, 50, 91, 0.8);
    color: rgba(212, 235, 248);
}

#music-controls {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 100;
}

#music-toggle {
    border: 2px solid rgba(212, 235, 248, 0.3);
    border-radius: 5px;
    background-color: rgba(28, 50, 91, 0.5);
    color: rgba(212, 235, 248);
    padding: 10px 20px;
    font-family: "Press Start 2P", monospace;
    font-size: 14px;
    cursor: pointer;
}

#contact-section {
    position: fixed;
    top: 30%;
    left: -60%; 
    width: 300px;
    padding: 20px;
    z-index: 10;
    transition: left 1s ease-in-out; 
    border-radius: 5px;
    font-family: "Press Start 2P", monospace;
}

#contact-section h2 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.contact-field input,
.contact-field textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 14px;
    border: 2px solid rgba(28, 50, 91, 0.5);
    border-radius: 5px;
    background-color: rgba(212, 235, 248, 0.3);
    color: white;
}

input::placeholder, textarea::placeholder {
    color: rgba(212, 235, 248);
    font-size: 16px;
}

#submit-button {
    background-color: rgba(28, 50, 91, 0.5);
    color: white;
    border: 2px solid rgba(212, 235, 248, 0.3);
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 110px;
    font-family: "Press Start 2P"
}

#social-icons {
    margin-top: 20px;
    text-align: center;
    margin-left: 25px;
}

.icon img {
    height: 40px;
    width: 40px;
    transition: transform 0.3s;
    margin: 0 5px;
}

.icon img:hover {
    transform: scale(1.1);
}